.vscode
kae_build
KAEZlib/open_source/zlib-1.2.11
KAEZlib/test/gtest/gtest-download/googletest-release-1.11.0/
KAEZlib/test/gtest/gtest-download/.googletest-download.*/
KAELz4/test/gtest/gtest-download/googletest-release-1.11.0/
KAELz4/test/gtest/gtest-download/.googletest-download.*/

# *Test*
*.so.*
*.a
*.o
lz4.h
lz4frame.h
xxhash.*
